# Byte-compiled / cache
__pycache__/
*.py[cod]

# Local files
token.tmp
*.xlsx
.env

# Test results
tests/results/
data/

# OS files
.DS_Store

# github config
.github
.github/workflows

# VSCode config
.vscode/

# environment
.venv/