pandas==3.0.3
requests==2.34.2
selenium==4.41.0
selenium-wire==5.1.0
webdriver-manager==4.1.2
xlsxwriter==3.2.9
openpyxl==3.1.5
mariadb==1.1.14
SQLAlchemy==2.0.52
alembic==1.19.1

# Evitar error: AttributeError: 'X509' object has no attribute 'get_extension'
pyOpenSSL==23.2.0
cryptography==41.0.7

# Flask server + Blinker (compatible)
Flask==3.0.0
blinker<1.8.0
werkzeug>=3.1.8
waitress==3.0.2

# Extra utilities
setuptools<82